body {
    display: flex;
    
    
    
}
.row1 {
    display: flex;
    
   
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    
}
.row3 {
    display: flex;
    flex-wrap: wrap;
    
}
.row4 {
    display: flex;
    flex-wrap: wrap;
}

.childDiv {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 25px;
    
}

.gray {
    background-color: grey ;
    width: 100px;
    height: 100px;
    margin: 25px;
}

.parentDiv {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

